<header class="bar-header">
    <a id="menu" role="button">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
    <h1 class="logo">
        <a href="{{ site.baseurl }}/">
            {% if site.use_logo %}
                {% include logo.html %}
            {% else %}
                {{ site.name }}
            {% endif %}
        </a>
    </h1>
    <a id="courses" class="docourses" role="button">
        
    </a>
    <a id="courses" class="docourses" role="button">
        
    </a>
    <!-- <a id="courses" class="docourses" role="button" href="/courses/">
        Courses
    </a> -->
    <a id="courses" class="docourses" role="button" href="/courses/full-stack-python-course-by-partha/">
        Full Stack Python Course
    </a>
    <!-- <a id="courses" class="docourses" role="button" href="/category/quiz/">
        Quiz
    </a>
    <a id="courses" class="docourses" role="button" href="/apps">
        Apps Hub
    </a> -->
    <a id="courses" class="docourses" role="button" href="/contact">
        Contact Me
    </a>
    <a id="courses" class="docourses about-me" role="button" href="/about">
        About Me
    </a>
    <a id="search" class="dosearch" role="button">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
